REDIS_HOST=redis
REDIS_PORT=6379

# Bedrock-style provider config (URL + token)
LLM_PROVIDER=bedrock
BEDROCK_BASE_URL=https://bedrock-runtime.ap-south-1.amazonaws.com
BEDROCK_API_KEY==
BEDROCK_AUTH_HEADER=Authorization
BEDROCK_AUTH_SCHEME=Bearer
LLM_AGRINET_MODEL_NAME=anthropic.claude-3-haiku-20240307-v1:0
LLM_MODERATION_MODEL_NAME=anthropic.claude-3-haiku-20240307-v1:0

JWT_PRIVATE_KEY_PATH=jwt_private_key.pem
BAP_ID=bap-network
BAP_ENDPOINT=http://onix-adapter:8081/bap/caller
BAP_URI=http://onix-adapter:8081/bap/receiver
BPP_ID=bpp-network
BPP_URI=http://onix-adapter:8081/bpp/receiver
